<div class="content">
  <div class="background">
    <div class="layer">



      <div class="title">
        <h1>Our Story</h1>
      </div>
      
      <div class="detail">
        <div class="restaurant-pic">
          <img src="../../../assets/images/restaurant-pic.jpg" alt="" />
        </div>

        <div class="title3">
      
        <h2>
          The term 'restaurant' first appeared in the 18th century in France. It
          referred to a reinvigorating meat broth which people ate to refortify the
          body. It was not until the French Revolution and subsequent
          industrialisation that culinary establishments such as we know them today
          began to appear and develop
        </h2>
      </div>
      </div>
      <div class="title">
          <h1>Our Chefs</h1>
        </div>
      <div class="container">
        
        
          <mat-card style="background-color: rgba(65, 134, 74, 0.479); border-radius: 30px;">
              <div class="images">
                     <img src="../../../assets/images/chef1.jpg" alt="" />    
              </div>
            
            <mat-card-content>
              <p>Name: Rachael Ray</p>
              <p>Rachael is most famous for his delicious recipes that you can make in just half an hour.</p>
            </mat-card-content>
          </mat-card>
        
        <mat-card style="background-color: rgba(65, 134, 74, 0.479) ; border-radius: 30px;">
          <div class="images">
                 <img src="../../../assets/images/chef2.jpg" alt="" />    
          </div>
        
        <mat-card-content>
          <p>Name: Bobby Flay</p>
          <p>Bobby is a famous television chef, his cooking skills off-screen are not to be doubted. </p>
        </mat-card-content>
      </mat-card>
      
      <mat-card style="background-color: rgba(65, 134, 74, 0.479); border-radius: 30px;">
        <div class="images">
               <img src="../../../assets/images/chef3.jpg" alt="" />    
        </div>
      
      <mat-card-content>
        <p>Name: JJ Johnson</p>
        <p>He’s a featured chef on Tasty by Buzzfeed, with posts that garner hundreds of thousands of views. </p>
      </mat-card-content>
      </mat-card> 
      </div>

    </div>
  </div>
</div>
