
.background{
    background-image: url("../../../assets/images/background.jpg");
    background-color: #cccccc;
     height: 150vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: black;
     
   }
   
   .layer{
       background-color: rgba(0, 0, 0, 0.5);
       height: 100%;
       
   }
   .title {
  text-align: center;
  text-transform: capitalize;
  text-shadow: 4px 4px 5px blue;
  color: rgb(156, 226, 43);

}
.restaurant-pic {
  margin-left: 70px;
  margin-right: 1rem;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
.title2{
    text-align: center;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 10px;
}

mat-card {
  padding: 10px;
  margin-top: 100px;
  width: 200px;
  height: 300px;
  margin-left: 70px;
}

.images img{
  width: 100px;
  height: 100px;
  border-radius: 80%;
  object-fit: cover;
  margin-top: -80px;
  margin-left: 30px;
  border: 10px solid whitesmoke;
}
.title3{
    color: white;
    text-shadow: 4px 4px 5px red;
    
}
