<div class="container">
  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic3.jpg" alt="" />
      <mat-card-content>
        <p>Vinegar Soup</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic4.jpg" alt="" />
      <mat-card-content>
        <p>Tong Yum Soup</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic7.jpg" alt="" />
      <mat-card-content>
        <p>kkor Khmer Soup</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic21.jpg" alt="" />
      <mat-card-content>
        <p>Chicken Soup</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button></button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic22.jpg" alt="" />
      <mat-card-content>
        <p>Sour Khmer</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>
   
  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic25.jpg" alt="" />
      <mat-card-content>
        <p>Khmer Soup</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>
   
  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic17.jpg" alt="" />
      <mat-card-content>
        <p>Chicken Fried </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic18.jpg" alt="" />
      <mat-card-content>
        <p>Mushrooms Fried</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic19.jpg" alt="" />
      <mat-card-content>
        <p>Onion Fried</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic17.jpg" alt="" />
      <mat-card-content>
        <p>Chicken Fried </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <img src="../../../assets/images/pic24.jpg" alt="" />
      <mat-card-content>
        <p>Beef Fried</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>Detail</button> -->
        <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
      </mat-card-actions>
    </mat-card>
    </div>

    <div class="card">
      <mat-card>
        <img src="../../../assets/images/pic20.jpg" alt="" />
        <mat-card-content>
          <p>Crab Fried</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>Detail</button> -->
          <button mat-button style="background-color: #84b74e; margin-left: 60px;">Order now</button>
        </mat-card-actions>
      </mat-card>
      </div>
</div>
