

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  gap: 10px;
}

.card {
  width: fit-content;
  
}

img{
    border-radius: 50%;
    border: 10px solid #84b74e;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-conten {
  margin: 10px;
}

mat-card{
    padding: 10px;
}
mat-button{
  padding: 10px;
  // background-color: #84b74e;
  // margin-left: 10px;
}