<div class="content">
  <div class="background">
    <div class="layer">
  
      <div class="content">
        <div class="content-left">
          <h1>What would you  like to order today ?</h1>
          <button mat-button style="background-color: darkgreen; color: #84b74e; border-radius: 15px; 
           margin-left: 250px;">Order Today Special</button> 
        </div>
        <div class="content-right">
          <h1>WELCOME TO RATHANA's RESTAURANT</h1>
        </div>
      </div>
    </div>
  </div>

</div>

